/*--generic components--*/

* {
box-sizing: border-box;

}

.container {
margin: auto;


}

body {
background-color: #41464D;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size: 20px;
color: #ffffff;
}

a {
color: #000000;
text-decoration: none;
}

a:visited{
color: #000000;
}

a:active{
color: #994c30;
}


a:hover,
a:focus {
color: #cc6540;
text-decoration: underline;
}

/*--header components--*/

.Header {
background-color: #ffffff;
padding: 10px;
text-align: center;
background-size: cover;
background-position: center;
height: 20vh;
background-attachment: fixed;
border-bottom: 3px solid #dadada;
}

.Logo {
height: 150px;
margin-top: 30px;
}


.main-nav {
text-align: center;
margin-top: 20px;
margin-right: 40px;
font-weight: bolder;
font-size: 120%;
}


/*--Main body components--*/

#Hero {
margin-top: 60px;
background-color: #ffffff;
background-position: center;
height: 40vh;
text-align: center;
opacity: 0.4;
}

.header1 {
text-align: center;
margin-top: 450px;
display: block;
color: #ffffff;
}

.maincontent{
text-align: center;
margin-top: 500px;
margin-bottom: 20px;
border-color: #41464D;
border-radius: 10px;
font-size: 120%;
}

.workarea1 {
float: left;
margin-left: 140px;
}



/*---Animation of the SVG images---*/
.animate {
-webkit-animation-duration: 1s;
animation-duration: 1s;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*--shadow effects on the SVG images--*/

.main1img {
height: 300px;
box-shadow: 0 15px 20px rgba(180, 180, 180, 0.3);
}

/*--My areas of Work related styling--*/

.main1body {
margin-top: auto;
margin-left: 10px;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main1text {
}

.workarea2 {
float: left;
margin-left: 485px;
}

.main2body {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main2text {
}

.workarea3 {
float: right;
margin-right: 140px;    
}

.main3body {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main3text {
}


/*--Button components--*/

.btnhero {
margin-top: 30px;    
color: #000000;
border: 2px solid #ffffff;
background-color: transparent;
border-radius: 10px;
padding: 10px 20px;
}

.btnhero:hover {
opacity: 0.8;
text-decoration: none;
}

.btn1 {
margin-top: 2px;
border-radius: 20px;
padding: 8px 12px;
border: 2px solid #ffffff;
transition: .6s opacity;
}

.btn1:hover {
opacity: 0.8;
text-decoration: none;
}

.btn2 {
margin-top: 2px;
border-radius: 20px;
padding: 8px 12px;
border: 2px solid #ffffff;
transition: .2s opacity;
}

.btn2:hover {
opacity: 0.8;
text-decoration: none;
}

.btn3 {
margin-top: 2px;
border-radius: 20px;
padding: 8px 12px;
border: 2px solid #ffffff;
transition: .2s opacity;
}

.btn3:hover {
opacity: 0.8;
text-decoration: none;
}


/*--Footer components--*/

.footermain {
color: #ffffff;
text-align: center;
margin-top: 800px;
position: relative;
}


/*--About page components--*/

.About_Top {
text-align: center;
background-color: #000000;
}

.About_pic {
margin-left: 200px;
margin-right: 20px;
margin-top: 5px;	
}


.About_Middle {
text-align: center;
background-color: #000000;
margin-top: 50px;

}


.About_Body_Story {
float: left;
text-align: left;
width: 800px;
margin-top: 15px;
margin-left: 600px;
font-size: 100%;
}

.About_Body_Skills {
float: right;
margin-top: 10px;
margin-right: 600px;
font-size: 100%;
}

/*--Contact page components--*/

.Contact_Form {
text-align: center;
padding-bottom: 20px;
margin-top: 350px;
border-style: dashed;
border-width: medium;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	
}