

 Extra sm devices  portrait phones, less than 576pX
 No media query for `xs` since this is the default in Bootstrap

sm devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  
}

Medium devices (tablets, 768px and up)

@media (min-width: 768px) { 

}

Large devices (desktops, 992px and up)

@media (min-width: 992px) { 


}

Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) { 
  

}

/*--generic components--*/


#aboutcontactnav {

  
}

.jumbotron {
position: relative;
z-index:-101;
margin-top:1em;
height:900px;
background-color: transparent;
background-size: cover;
}

.container {
  position: relative;
  color: #ffffff;
  z-index: 2;
}

 #video-background { 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 30%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}


body {
background-color: #3755BE; 
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size: 20px;
color: #000000;

}

a {
color: #000000;
text-decoration: none;
}

a:visited{
color: #000000;
}

a:active{
color: #9c8880;
}


a:hover,
a:focus {
color: #cc6540;
}

/*--header components--*/

.logo {
width: 150px;
height: 150px;
}

/*--Main body components--*/

.work_areas {
margin-top: 120px;
text-align: center;
color: #ffffff;
}

.cvimg {
padding: auto;
margin-right:20px;
margin-bottom: 25px;
}

.container {
display: flex;
}
.card-img {
width:80%;
}

.latestprojects {
margin-top: 150px;
text-align: center;
color: #ffffff;
}

.Aboutmee {
background-image:url("../Images/Background_v1.jpg"); 
margin-top: 100px;
border-width: 2px;
border-color: #008040;
text-align: left;
color: #ffffff;
}

.ContactMe {
margin-top: 100px;
text-align: left;
color: #ffffff;
}

.skillmeter {
margin-top: 120px;
text-align: center;
color: #ffffff;
}

.span {
width:1200px;
}


/*--About page components--*/

.About_Top {
text-align: center;
color: #ffffff;
margin-top: 40px;
}

.About_pic {
margin-left: 200px;
margin-right: 20px;
margin-top: 5px;	
}




.About_Body_Story {
float: left;
text-align: left;
width: 800px;
margin-top: 15px;
margin-left: 600px;
font-size: 100%;
}

.About_Body_Skills {
float: right;
margin-top: 10px;
margin-right: 600px;
font-size: 100%;
}

/*--Contact page components--*/

.Body_Contact {
color: #ffffff;
}




.navbar-brand {
max-width: 30px;
padding-top: 2px;
}

